.service-area {
    margin-top: -56px;
    border-radius: 10px;
    background: url(../img/bridge.jpg) center;
    background-size: cover;
    padding: 60px 0;
}

.service-content {
    text-align: center;
}

.service-content h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 40px;
}

.service-content h1 span {
    font-weight: 700;
}

@media (max-width: 991.98px) {
    .service-content h1 {
        font-size: 36px;
    }

    .service-content h1 br {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .service-content h1 {
        font-size: 45px;
    }
}

@media (max-width: 414px) {
    .service-content h1 {
        font-size: 40px;
    }
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    text-align: justify;
}

.info p {
    font-size: medium;
    line-height: 1.25em;
    color: white;
    width: 60%;
    box-sizing: border-box;
    margin-right: 20px;
}

.img-bgp {
    width: 35%;
    padding: .5rem;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
}

@media (max-width: 980px) {
    .info {
        flex-direction: column;
        align-items: center;
    }

    .info p {
        font-size: 16px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .img-bgp {
        width: 100%;
    }
}
